.hb-day.hb-day-name{
	color: #f1b400;
}

.hb-day.hb-day-active{
	color: #333;
	background-color: #ffce1a;
}

.hb-day.hb-day-active:hover{
	background-color: #ffe435;
}

.hb-day.hb-day-selected, .hb-day.hb-day-selected:hover{
	background-color: #fffe4f;
}
.hb-loading:before{ content: url("../images/iconLoadingYellow.gif"); }